<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/easylearn-icon.png" alt="Logo de easylearn">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p-card header="Notificación de Asistencia Registrada">
    <p class="m-0">
      Se ha registrado la asistencia de la clase de Matemáticas para el día de hoy. Total de asistentes: 25.
    </p>
  </p-card>
  <br>
  <p-card header="Recordatorio de Pase de Lista">
    <p class="m-0">
      No olvides realizar el pase de lista para la clase de Historia a las 10:00 AM.
    </p>
  </p-card>
  <br>
  <p-card header="Resumen de Asistencia Semanal">
    <p class="m-0">
      Resumen de asistencia semanal: Matemáticas: 98%, Ciencias: 95%, Historia: 92%.
    </p>
  </p-card>
  <br>
  <p-card header="Notificación de Ausencias">
    <p class="m-0">
      Se ha detectado que Juan Pérez ha faltado a las últimas 3 clases de Lengua. Favor de revisar.
    </p>
  </p-card>
</ion-content>
