<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/easylearn-icon.png" alt="Logo de easylearn">
      <span> Notificaciones </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p-card header="Notificación de Asistencia Registrada">
    <p class="m-0">
      No asististe a la clase de Ciencias el 10/07/2024.
    </p>
  </p-card>
  <br>
  <p-card header="Nueva calificación disponible">
    <p class="m-0">
      Tu calificación promedio en Lengua ha sido actualizada a 88.
    </p>
  </p-card>
  <br>
  <p-card header="Nueva tarea asignada">
    <p class="m-0">
      Tarea registrada para Matemáticas: Fecha de entrega: 15/07/2024
    </p>
  </p-card>
  <br>
  <p-card header="Recordatorio ">
    <p class="m-0">
      Junta presencial con padres el 20/07/2024 a las 5:00 PM
    </p>
  </p-card>
</ion-content>
