<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 12112
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1111</ion-title>
    </ion-toolbar>
  </ion-header>
      <div class="card flex justify-content-center">
        <p-button label="Check" icon="pi pi-check">
        </p-button>
      </div>
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span>

  <app-explore-container name="Tab 1222 page">
  </app-explore-container>
</ion-content>
