<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs-teacher/tab1">
      <p-chip label="Lista" icon="pi pi-list-check" />
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs-teacher/tab2">
      <p-chip label="Notas" icon="pi pi-star" />
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs-teacher/tab3">
      <p-chip label="Análisis" icon="pi pi-chart-pie" />
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs-teacher/tab4">
      <p-chip label="Info" icon="pi pi-bell" />
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
